* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
/* Header */

.logo {
    max-width: 100px;
    max-height: 100px;
}

.name {
    text-align: right;
}

.header-color {
    color: #2d3C49;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

/*Welcome Image Section */

.main-image {
    margin: auto;
}

.main {
    width: 100%;
    position: relative;
}

.message {
    font-size: 2em !important;
}

.description {
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #fff;
    padding-left: 20px;
}

.blog-description {
    font-size: 1.6em;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured {
    color: #7d97ad;
    font-weight: 300;
}

.thumb {
    max-width: 300px;
    max-height: 250px;
    margin: auto;
}

.button {
    min-height: 48px;
    min-width: 48px;
}

/*Footer and Social Media Share*/

.social {
        font-weight: bold;
        font-size: 1.5em;
}

.zocial-twitter {
    font-family: "zocial", sans-serif;
    font-size: 3em;
    color: #0084b4;
    text-decoration: none !important;
}

.zocial-facebook {
    font-family: "zocial", sans-serif;
    font-size: 3em;
    color:#3b5998;
    text-decoration: none !important;
}

.zocial-googleplus {
    font-family: "zocial", sans-serif;
    font-size: 3em;
    padding-left: 0.5em;
    color: #db3236;
    text-decoration: none !important;
}

/*Media-Queries*/

@media screen and (max-width: 990px) {
            .thumb {
                max-width: 600px;
                max-height: 500px;
            }
}

@media screen and (max-width : 500px) {
            .name {
                text-align: center;
            }
            .logo {
                margin: auto;
            }
            .message {
                font-size: 1.2em !important;
                margin: 0 !important;
            }
            .blog-description {
                font-size: 1em;
                margin: 0;
            }
            hr {
                margin: 0 !important;
            }
            h1 {
                margin-top: 0 !important;
            }
}